:root *{
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #f5ede2;
    
}
.hero-main {
    background: url('../assets/images/bg-main.webp') no-repeat center center/cover;
    color: #1c1c1c; 
    min-height: 100dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--font-roboto);
    
}
.hero-content{
    width: 45%;
    margin-left: 6em;
    text-wrap: balance;
    display: grid;
}

.hero-content h1 {
    font-family: var(--font-bailies);
    font-size: 4rem;
    
}
.hero-content p {
    font-family: var(--font-roboto);
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-main-buttons{
    display: flex;
    align-items: center;
    gap: 3em;
}

.card{
    border: none;
    background: #f9f9f9;
    padding: 1em;
    border-radius: 2em;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.card-b img{
    width: 100%;
}
.card:hover {
    transform: scale(1.05);
}
.features {
    padding: 2em 6em;
}
.features-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5em;

}
.features h2 {
    font-family: var(--font-bailies);
    text-align: center;
    margin-bottom: 40px;
    font-size: 3em;
    color: #333;
}
.features .card {
    background-color: #f9f9f9;
    border-radius: 2em;
    padding: 1.5em;
    text-align: center;
}

.card img{
    border-radius: 1em;
    width: 100%;
}
.card h5{
    font-size: var(--font-roboto);
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1em;
}
.card p{
    color: #555050;
}
.products {
    display: block;
    padding: 2em 6em;
    
}



.products h2{
    font-family: var(--font-bailies);
    text-align: center;
    margin-bottom: 40px;
    font-size: 3em;
    color: #191919;
}



.benefits {
    padding: 6em;
    
}

.features-content, .products-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}


.benefit-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em ;

}
.benefit-card{
    background: #fff;
    box-shadow: 0 0 10px #19191955;
    padding: 2em;
    text-align: center;
    border-radius: 2.5em;
}
.benefits h2 {
    font-family: var(--font-bailies);
    text-align: center;
    margin-bottom: 40px;
    font-size: 3em;
    color: #333;
}
.benefit-card h5{
    font-size: 1.5em;
    margin-bottom: 1em;
}

.footer {
    background-color: #474145;
    color: white;
    padding: 20px;
    text-align: center;
}


.btn-nav{
    padding: 1em 2em;   
    border-radius: 2em;
    
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    transition: .5s ease;
}

.btn-register{
    background: #191919;
    color: white;
}

.btn-login{
    background: #d1ccc6;
    color: black;
}

.btn-login:hover, .btn-register:hover{
    
    transform: scale(1.2);
}


