*{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-roboto);
}
.mySwiper { 
    padding: 2em 0;
    height: 500px; 
    position: relative;
} 

.swiper-card {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 1em;
    backdrop-filter: blur(4em);
    border-radius: 2em;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 1.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.swiper-card img {
    background-color: white;
    width: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 10px #33333355;
    border-radius: 2em;
    height: 100%;
}

.swiper-card-info {
    background-color: #f5e9cf;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    border-radius: 2em;
    box-shadow: 0 0 10px #33333355;

}


.swiper-card-title {
    font-family: var(--font-rolling);
    font-size: 2em;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
    padding: .2em;
}

.card-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    
}
.card-info-cat{
    font-size: 1.5em;
    padding: .3em;
}

.swiper-card-price {
    font-size: 1.2rem;
    color: #ae2727;
    font-weight: 600;
    
}
.swiper-card-price-1{
    font-size: 1.2rem;
    color: #27ae60;
    font-weight: 600;
}

.card-manufacturer {
    
    font-size: 1rem;
    font-weight: bold;
    color: #191919;
    
    width: auto;
}

.swiper-card-desc {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.5;
}
