*{
    margin: 0;
    box-sizing: border-box;
}
.swiper, .swiper-wrapper{ 
    
    
    border: 1px solid orangered;
    position: relative;
} 

.swiper-slide { 
    margin: 0;
    background-color: white;
    
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 18px; 
    font-size: 22px; 
    font-weight: bold; 
    color: #191919; 
}



.swiper-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 1em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.swiper-card img {
    width: 80%;
    object-fit: contain;
    border-radius: 2em;
    height: 100%;
}

.swiper-card-info {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.swiper-card-price {
    font-size: 1.2rem;
    color: #27ae60;
    font-weight: 600;
    margin-bottom: 10px;
}

.swiper-card-manufacturer {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
}

.swiper-card-desc {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.5;
}
